/***** General *****/

* {
    font-family: 'Shrikhand', cursive;
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary-color: #9356DC ;
    --secondary-color : #FF79DA ;
    --third-color : #99E2D0 ;
}

$clr-btn: linear-gradient( #FF79DA -11.44%, #9356DC  123.93%);

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    z-index: 2;
    animation: visibility 250ms linear 3s ;
    animation-fill-mode:forwards;
}
  
.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #99E2D0;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}
  
@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
}

@keyframes visibility {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 14px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    img {
        width: 162px;
        height: 44px;
        object-fit: contain;
    }
    i {
        color: #353535;
        position: absolute;
        left: 15px;
        top: 30px;
    }
}

.location {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    background-color: #EAEAEA;
    color: #353535;
    i {
        margin-right: 20px;
    }
}

.location-menu {
    margin-top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: #353535;
    img {
        margin-top: -2px;
        width: 100%;
        height: 275px;
        object-fit: cover;
        z-index: -1;
    }
}

.main-page-top {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f7f7f7;
    padding-bottom: 57px;
    h2 {
        margin: 39.5px 50px 0px 50px;
    }
    p {
        font-size: 18px;
        font-weight: 1;
        margin-right: 30px;
        margin-left: 30px;
        color: #353535;
    }
}

.button {
    background: $clr-btn;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    color: white;
    font-size: 16px;
    border: 0px;
    padding: 15px 18.5px 15px 18.5px;
    margin-top: 27px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 25px;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
        background: $clr-btn;
        filter: brightness(1.15);
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
}

.functioning {
    padding-left: 20px;
    padding-top: 48px;
    padding-bottom: 68px;
    padding-right: 20px;
    ol {
        counter-reset: douze;
        padding: 0px;
    }
    li {
        font-weight: 1000;
        list-style-type: none;
        counter-increment: douze;
        margin-bottom: 25px;
        background-color: #f7f7f7;
        border-radius: 20px;
        padding: 28px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

        &::before {
            content: counter(douze);
            padding: 5px 10px;
            margin-right: 32px;
            margin-left: -40px;
            vertical-align: top;
            background: var(--primary-color);
            border-radius: 50px;
            color: white;
        }
    }
    i {
        margin-right: 30px;
        color:#7E7E7E;
    }
    .fa-store {
        color: var(--primary-color);
    }
}

.card {
    background-color: white;
    border-radius: 20px;
    img {
        object-fit: cover;
    }
}
.heart__icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    &--empty{
        position: absolute;
        color: black;
    }
    &--full{
        position: absolute;
        opacity: 0;
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all 1ms;
    }
    &:hover &--full{
        opacity: 1;

    }
    &:hover &--empty{
        opacity: 0;
    }
}
.heart {
    .fa-solid {
        color: transparent;
        background-clip: text ;
        background-image: linear-gradient( to bottom,#9356DC,#FF79DA);
    }
}

.full {
    visibility: collapse;
}

.heart:hover .empty {
    display: none;
}

.heart:hover .full {
    display: inline;
    visibility: visible;
}

/***** Restaurant *****/

.restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 50px;
    width: 100%;
    box-sizing: border-box;
}

.restaurant-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
    width: 100%;
}

.restaurant-card {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    .card {
        cursor: pointer;
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        max-height: 260px;
        height: 100%;
        padding-bottom: 6px;
        margin-bottom: 18px;
        text-decoration: none;
        color: black;
    }
    img {
        height: 180px ;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .card-txt {
        margin-left: 10px;
    }
    .card-title {
        margin-top: 16px;
    }
    .card-subtitle {
        margin-top: -10px;
    }
    .heart__icon {
        margin-right: 30px;
    }
}
.new {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 2px;
    z-index: 1;
    height: 29px;
    width: 80px;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color:#008766 ;
}

/***** Menu *****/

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px 40px 0px 0px;
    background-color: #f7f7f7;
    padding-top: 32px;
    margin-top: -50px;
}

.menu-title {
    display: flex;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    max-width: 634px;
    white-space: nowrap;
    h2 {
        font-family: Shrikhand;
        font-size: 28px;
    }
    i {
        margin-right: 24px;
        cursor: pointer;
    }
}

.menu-section-1, .menu-section-2, .menu-section-3 {
    width: 100%;
    padding: 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-section-1 {
    opacity: 0;
    animation: opacity_menu 300ms ease 1s;
    animation-fill-mode:forwards;
}
.menu-section-2 {
    opacity: 0;
    animation: opacity_menu 300ms ease 2s;
    animation-fill-mode:forwards;
}
.menu-section-3 {
    opacity: 0;
    animation: opacity_menu 300ms ease 3s;
    animation-fill-mode:forwards;
}
@keyframes opacity_menu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu-type {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 634px;
    justify-content: center;
    .line {
        width: 50px;
        height: 4px;
        background-color: var(--third-color);
        margin-top: -10px;
        margin-bottom: 20px;
    }
}
.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    .card {
        overflow: hidden;
        display: flex;
        max-width: 634px;
        width: 100%;
        max-height: 69px;
        height: 100%;
        cursor: pointer;
        padding-bottom: 0px;
        margin-bottom: 18px;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        &:hover {
            .check {
                transition: width 200ms linear;
                width: 10%;
                padding-left: 1px;
            }
            .card-content {
                transition: width 200ms linear;
                width: 90%;
            }
            .card-txt{
                text-overflow: ellipsis;
                white-space: nowrap;;
            }
        }
    }
    .content {
        display: flex;
    }
    
    .card-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        
    }
    .check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 69px;
        background-color: var(--third-color);
        border-radius: 0 20px 20px 0;
        z-index: 1;
        color: white;
        overflow: hidden;
    }
    .card-txt {
        overflow: hidden;
        margin-left: 15px;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .card-title {
        margin-top: 12px;
    }
    .card-subtitle {
        margin-top: -12px;
    }
    .price {
        margin-right: 20px;
        margin-bottom: -20px;
    }
    
}
.menu .button {
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 50px;
}

/***** Footer *****/

footer {
    background-color: #353535;
    color: white;
    padding-top: 22px;
    padding-left: 25px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    .nav {
        list-style: none;
        margin-left: -40px;
        li {
            margin-bottom: 5px;
        }
    }
    p {
        font-family: Shrikhand;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    a {
        text-decoration: none;
        color: white;
    }
    i {
        margin-right: 10px;
    }
}

/******** responsive *********/

@media (min-width:1024px) {
    .header {
        height: 96px;
        img {
            width: 200px;
            height: 34.2px;
        }
        i {
            top: 50px;
        }
    }
    .functioning {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        .functioning-title {
            display: flex;
            max-width: 1140px;
            width: 100%;
        }
        ol {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 1100px;
            width: 100%;
        }
        li {
            display: inline-block;
            margin-right: 40px;
            max-width: 335px;
            width: 100%;
            padding-right: 0;
        }
    }
    .restaurant {
        justify-content: center;
        align-items: center;
        .restaurant-title {
            max-width: 1130px;
            width: 100%;
        }
        .restaurant-card {
            max-width: 1200px;
            display: grid;
            grid-template-columns: 50% 50%;
            justify-items: center;
            margin-left: 0;
        }
        .card {
            margin-right: 20px;
        }
    }
    .menu-title {
        max-width: 365px;
    }
    footer {
        flex-direction: row;
        align-items: center;
        justify-content: right;
        ul {
            display: inline-block;
            text-align: right;
        }
        li {
            display: inline-block;
            margin-left: 30px;
        }
        .footer-logo {
            margin-right: 50px;
            margin-left : 100px;
            
        }
    }
    }
